<%= component_page do %>
  <%= title "Badges" %>

  <div class="space-y-4">
    <%= example(class: "flex-col") do %>
      <%= ik_badge "Default" %>
      <%= ik_badge(variant: :outline) { "Outline" } %>
      <% end %>

    <%= code_example %{
    <%= ik_badge(color: :teal) { "My badge" } %\>
    } %>

    <pre><code>&lt;%= ik_badge(color: :teal) { "My badge" } %&gt;</code></pre>
  </div>
<% end %>
