<%= component_page do %>
  <%= title "Checkboxes" %>

  <div class="space-y-4">
    <h2>Simple checkbox</h2>
    <%= example do %>
      <div class="flex gap-2">
        <%= ik_checkbox :name_1 %>
        <%= ik_checkbox :name_2, checked: true %>
      </div>
    <% end %>

    <%= code_example(%{<%= ik_checkbox "name" %\>}) %>

    <h2>Checkbox with label</h2>

    <%= example do %>
      <%= ik_checkbox "name_3", label: "Accept your fate" %>
    <% end %>

    <%= code_example %{<%= ik_checkbox "name", label: "Accept your fate" %\>} %>
  </div>
<% end %>
