<%= component_page do %>
  <%= title "Checkboxes" %>

  <div class="space-y-4">
    <h2>Simple checkbox</h2>
    <%= example do %>
      <div class="flex gap-2">
        <%= checkbox nil %>
        <%= checkbox nil, checked: true %>
      </div>
    <% end %>

    <%= code_example(%{<%= checkbox "name" %\>}) %>

    <h2>Checkbox with label</h2>

    <%= example do %>
      <%= checkbox "name", label: "Accept your fate" %>
    <% end %>

    <%= code_example %{<%= checkbox "name", label: "Accept your fate" %\>} %>
  </div>
<% end %>
