<%= component_page do %>
  <%= title "Dropdown" %>

  <div class="space-y-4">
    <h3>Dropdown builder</h3>

    <%= example do %>
      <%= ik_dropdown do |d| %>
        <%= d.trigger do %>
          <%= ik_button "Open" %>
        <% end %>
        <%= d.content do %>
          <%= d.title "My hotdogs" %>
          <%= d.separator %>
          <%= d.item "New hotdog", href: request.path %>
          <%= d.item "Edit hotdog", href: request.path %>
          <%= d.separator %>
          <%= d.destructive_item "Delete hotdog", href: request.path, data: { turbo_method: "delete", turbo_confirm: "Sure?" } %>
        <% end %>
      <% end %>
    <% end %>

    <%= code_example %{
      <%= ik_dropdown do |d| %\>
        <%= d.trigger do %\>
          <%= ik_button "Open" %\>
        <% end %\>
        <%= d.content do %\>
          <%= d.title "My hotdogs" %\>
          <%= d.separator %\>
          <%= d.item "New hotdog", href: new_hotdog_path %\>
          <%= d.item "Edit hotdog", href: edit_hotdog_path(1) %\>
          <%= d.separator %\>
          <%= d.destructive_item "Delete hotdog",
            href: hotdog_path(1),
            data: { turbo_method: "delete", turbo_confirm: "Sure?" } %\>
        <% end %\>
      <% end %\>
    } %>
  </div>
<% end %>
