<%= component_page do %>
  <%= title "Inputs" %>

  <div class="space-y-4 max-w-sm">
    <%= field do |f| %>
      <%= f.label "Name" %>
      <%= f.input :name %>
    <% end %>

    <%= field do |f| %>
      <%= f.label "Email" %>
      <%= f.input :email, type: :email, placeholder: "example@example.com" %>
    <% end %>

    <%= field do |f| %>
      <%= f.label "Email" %>
      <%= f.description "This is an email input" %>
      <%= f.input :email, type: :email, placeholder: "example@example.com" %>
      <%= f.error "This is an error" %>
    <% end %>
  </div>
<% end %>
