<%= component_page do %>
  <%= title "Toggles" %>

  <div class="space-y-4">
    <h2>Default</h2>
    <%= example do %>
      <%= ik_toggle :name %>
      <%= ik_toggle :name, checked: true %>
    <% end %>

    <%= code_example %{
          <%= ik_toggle :name %\>
          <%= ik_toggle :name, checked: true %\>
        } %>

    <h2>Sizes</h2>
    <%= example do %>
      <%= ik_toggle(:name, size: :sm) %>
    <% end %>

    <%= code_example %{
          <%= ik_toggle(:name, size: :sm) %\>
        } %>
  </div>
<% end %>
