<%= back_link %>

<p>Simplest</p>
<%= nk_dropdown do |d| %>
  <%= d.trigger { "simple" } %>
  <%= d.content { "hi" } %>
<% end %>

<p>With `as:`</p>
<%= nk_dropdown do |d| %>
  <%= d.trigger(as: :button, class: "border border-green-500 p-1 inline-flex shrink-0 rounded-full cursor-pointer") do %>
    <%= nk_avatar("https://placecage.lucidinternets.com/249/249", size: :sm) %>
  <% end %>
  <%= d.content { "hi" } %>
<% end %>

<div class="p-5">
  <p>Inside overflow table</p>
  <%= nk_table(class: "border border-red-500") do |t| %>
    <%= t.body do %>
      <%= t.tr do %>
        <%= t.td do %>
          <%= nk_dropdown do |d| %>
            <%= d.trigger(size: :xs) { "simple" } %>
            <%= d.content { "oh no!" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
