<%= section do %>
  <%= section_title "Install" %>

  <p><%= link_to "Set up Nitro Kit", page_path(:getting_started), class: "link" %> then</p>

  <%= inline_example do %>
    bin/rails generate nitro_kit:add <%= component_name %>
  <% end %>

  <%= nk_accordion(class: "text-sm border rounded-xl pl-6 pr-3") do |a| %>
    <%= a.item do %>
      <%= a.trigger(class: "font-bold") { "Files generated" } %>
      <%= a.content do %>
        <%= render FileListComponent.new(NitroKit::SCHEMA.find(component_name)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
