<%= component_page do %>
  <%= title "Accordions" %>

  <div class="space-y-4">
    <%= example(class: "flex-col") do %>
      <%= nk_accordion(class: "w-full max-w-md") do |accordion| %>
        <%= accordion.item do %>
          <%= accordion.trigger "Item 1" %>
          <%= accordion.content do %>
            <p>Content</p>
          <% end %>
        <% end %>
        <%= accordion.item do %>
          <%= accordion.trigger "Item 2" %>
          <%= accordion.content do %>
            <p>Content</p>
          <% end %>
        <% end %>
        <%= accordion.item do %>
          <%= accordion.trigger "Item 2" %>
          <%= accordion.content do %>
            <p>Content</p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= code_example %{
    <%= nk_accordion do |accordion| %\>
      <%= accordion.item do %\>
        <%= accordion.trigger "Item 1" %\>
        <%= accordion.content do %\>
          <p>Content</p>
        <% end %\>
      <% end %\>
      <%= accordion.item do %\>
        <%= accordion.trigger "Item 2" %\>
        <%= accordion.content do %\>
          <p>Content</p>
        <% end %\>
      <% end %\>
      <%= accordion.item do %\>
        <%= accordion.trigger "Item 3" %\>
        <%= accordion.content do %\>
          <p>Content</p>
        <% end %\>
      <% end %\>
    <% end %\>
    } %>

    <%= example(class: "flex-col") do %>
      <%= nk_accordion(class: "w-full max-w-md") do |accordion| %>
        <%= accordion.item do %>
          <%= accordion.trigger(class: "flex items-center gap-2 text-orange-500") do %>
            <%= nk_icon("star") %>
            <span>Custom trigger item 3</span>
            <%= nk_badge("OMG")%>
          <% end %>
          <%= accordion.content do %>
            <p>Content</p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= code_example %{
    <%= nk_accordion do |accordion| %\>
      <%= accordion.item do %\>
        <%= accordion.trigger do %\>
          <%= nk_icon("star") %\>
          <span>Custom trigger</span>
          <%= nk_badge("OMG") %\>
        <% end %\>
        <%= accordion.content do %\>
          <p>Content</p>
        <% end %\>
      <% end %\>
    <% end %\>
    } %>
  </div>
<% end %>
