<%= component_page do %>
  <%= title "Accordions" %>

  <div class="space-y-4">
    <%= example(class: "flex-col") do %>
      <%= nk_accordion(class: "w-full max-w-md") do |a| %>
        <%= a.item do %>
          <%= a.trigger "Item 1" %>
          <%= a.content do %>
            <p>Content</p>
          <% end %>
        <% end %>
        <%= a.item do %>
          <%= a.trigger "Item 2" %>
          <%= a.content do %>
            <p>Content</p>
          <% end %>
        <% end %>
        <%= a.item do %>
          <%= a.trigger "Item 2" %>
          <%= a.content do %>
            <p>Content</p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= code_example do %>
      {#= nk_accordion do |a| #}
        {#= a.item do #}
          {#= a.trigger "Item 1" #}
          {#= a.content do #}
            <p>Content</p>
          {# end #}
        {# end #}
        {#= a.item do #}
          {#= a.trigger "Item 2" #}
          {#= a.content do #}
            <p>Content</p>
          {# end #}
        {# end #}
        {#= a.item do #}
          {#= a.trigger "Item 3" #}
          {#= a.content do #}
            <p>Content</p>
          {# end #}
        {# end #}
      {# end #}
    <% end %>

    <%= example(class: "flex-col") do %>
      <%= nk_accordion(class: "w-full max-w-md") do |a| %>
        <%= a.item do %>
          <%= a.trigger(class: "flex items-center gap-2") do %>
            <%= nk_icon("star") %>
            Custom trigger item 3
            <%= nk_badge("OMG") %>
          <% end %>
          <%= a.content do %>
            <p>Content</p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= code_example do %>
      {#= accordion.trigger do #}
        {#= nk_icon("star") #}
        Custom trigger
        {#= nk_badge("OMG") #}
      {# end #}
    <% end %>
  <% end %>
