<%= component_page do %>
  <%= title "Alert" %>
  <%= lead "Hey you look over here!" %>

  <div class="prose">
    <p>...</p>
  </div>

  <%= section do %>
    <%= example_file "alert_basic" %>
  <% end %>

  <%= section do %>
    <%= section_title "Variants" %>
    <%= example_file "alert_variants" %>
  <% end %>
<% end %>
