<%= component_page do %>
  <%= title "Button" %>

  <div class="space-y-4">

    <%= example(class: "flex-col") do %>
      <%= nk_button "Button" %>
      <%= nk_primary_button "Primary" %>
      <%= nk_destructive_button "Destructive" %>
      <%= nk_ghost_button "Ghost", root_path %>
    <% end %>

    <%= code_example do %>
      {#= nk_button { "Button" } #}
      {#= nk_primary_button { "Primary Button" } #}
      {#= nk_button("Text as arg") #}
      {#= nk_button(variant: :ghost) { "Variant as arg" } #}
    <% end %>

    <%= example do %>
      <%= nk_button(icon: "ellipsis") %>
      <%= nk_button "With icon", icon: "mail" %>
      <%= nk_button do %>
        <span>Content in block</span>
        <%= nk_icon "chevron-down" %>
      <% end %>
    <% end %>

    <%= code_example do %>
      {#= nk_button(icon: "ellipsis") #}
      {#= nk_button(icon: "mail") { "With icon" } #}
      {#= nk_button do #}
        <span>Content in block</span>
        {#= nk_icon("chevron-down") #}
      {# end #}
    <% end %>

    <h2>Button group</h2>

    <%= example do %>
      <%= nk_button_group do %>
        <%= nk_button "Button" %>
        <%= nk_button "Button" %>
        <%= nk_destructive_button "Destructive" %>
      <% end %>
    <% end %>

    <%= code_example do %>
      {#= nk_button_group do #}
        {#= nk_button("Button") #}
        {#= nk_button("Button") #}
        {#= nk_destructive_button("Destructive") #}
      {# end #}
    <% end %>
<% end %>
