<%= component_page do %>
  <%= component_header do %>
    <%= title "Button" %>
    <%= lead "What happens if I press this huge red one labeled \"Don't touch!\"" %>
    <%= render NuggetsComponent.new(%i[component]) %>
  <% end %>

  <%= section do %>
    <%= section_title "Example" %>
    <%= example_file "button_basic" %>
    <%= inline_example do %>
      {%= nk_button("Button") %}
    <% end %>
    <p>See <a href="#api-compatibility" class="link">API compatibility</a> for <code>link_to</code> and <code>button_to</code> examples.</p>
  <% end %>

  <%= render "install_section", component_name: "button" %>
  <%= render "dependencies_section", component_name: "button" %>

  <%= section do %>
    <%= section_title "Variants" %>

    <div class="prose">
      <p>Nitro Kit gives you 4 variants by default. Most buttons in your app should just be buttons. Every page should preferably not have more than one <em>primary</em> button.</p>
    </div>

    <%= example_file "button_variants" %>
    <p>
    <a href="/good_to_know#variants" class="link">Read more about variants</a>
    </p>
  <% end %>

  <%= section do %>
    <%= section_title "Sizes" %>
    <%= example_file("button_sizes") %>
  <% end %>

  <%= section do %>
    <%= section_title "With icons" %>
    <%= example_file "button_icon" %>

    <%= inline_example do %>
      {%= nk_button(icon: "fuel") %}
      {%= nk_button("Text and icon", icon: "caravan") %}
      {%= nk_button("Icon right", icon_right: "car") %}
    <% end %>
  <% end %>

  <%= section do %>
    <%= section_title "Button groups" %>
    <%= example_file "button_group_basic" %>

    <%= inline_example do %>
      {%= nk_button_group do %}
        {%= nk_button("Button") %}
        {%= nk_button("Button") %}
        {%= nk_primary_button("Button") %}
      {% end %}
    <% end %>
  <% end %>

  <%= section do %>
    <%= section_title "API compatibility" %>
    <%= example_file "button_api_compat" %>

    <%= code_example do %>
      {#= nk_button_link_to "Go home", root_path #}

      {#= nk_destructive_button_to "Delete post", posts_path,
          method: :delete, data: { turbo_frame: "test-result" }  #}
    <% end %>

  <% end %>

  <%= section do %>
    <%= section_title "Usage" %>

    <%= render PropTable.new("
          nk_button(
            text = nil,
            href: nil,
            variant: :default,
            size: :md,
            icon: nil,
            icon_right: nil,
            **attrs
          ) { ... }") do |t| %>
      <%= t.text_prop %>
      <%= t.prop "href", "nil" do %>
        If truthy, the button will be an <code>a</code> element. Otherwise it's <code>button</code>.
      <% end %>
      <%= t.variant_prop(NitroKit::Button::VARIANTS) %>
      <%= t.size_prop(%i[xs sm md]) %>
      <%= t.prop "icon", "nil" do %>
        Left side icon. See <a href="/icon" class="link">Icon docs</a>.
      <% end %>
      <%= t.prop "icon_right", "nil" do %>
        Right side icon. See <a href="/icon" class="link">Icon docs</a>.
      <% end %>
      <%= t.attrs_prop(:button) %>
    <% end %>

    <%= render PropTable.new("nk_button_group(**attrs) { ... }") do |t| %>
      <%= t.attrs_prop(:div) %>
    <% end %>
  <% end %>
<% end %>
