<%= component_page do %>
  <%= title "Card" %>
  <%= lead "Pick a card, any card. Memorized it? Remember it and put it back in the template." %>

  <div class="prose">
    <p>The basic Card component comes with a few built-in elements.</p>
    <p>I suggest you make it your own. Don't be afraid to make multiple card types and don't tie them too tightly together.</p>
  </div>

  <%= section do %>
    <%= example_file "card_basic" %>

    <%= code_example do %>
      {#= nk_card do |c| #}
        {#= c.title "Ace of spades" #}
        {#= c.body do #}
          Content
        {# end #}
      {# end #}
    <% end %>
  <% end %>

  <%= section do %>
    <div class="prose">
      <p>Here's a slightly more advanced example.</p>
    </div>

    <%= example_file "card_with_wide_image" %>
  <% end %>
<% end %>
