<%= component_page do %>
  <%= component_header do %>
    <%= title "Card" %>
    <%= lead "Pick a card, any card. Memorized it? Remember it and put it back in the template." %>
    <%= render NuggetsComponent.new(%i[component]) %>
  <% end %>

  <%= section do %>
    <div class="prose">
      <p>The basic Card component comes with a few built-in elements.</p>
      <p>I suggest you make it your own. Don't be afraid to make multiple card types and don't tie them too tightly together.</p>
    </div>
  <% end %>

  <%= section do %>
    <%= section_title "Example" %>
    <%= example_file "card_basic" %>

    <%= inline_example do %>
      {%= nk_card do |c| %}
        {%= nk_icon "landmark", class: "size-12" %}
        {%= c.title "Seal the deal" %}
        {%= c.body do %}
            You've worked for this moment. It's time to make it official.
        {% end %}
        {%= c.footer(class: "justify-end") do %}
          {%= nk_primary_button "Shake on it", icon: "handshake" %}
        {% end %}
      {% end %}
    <% end %>
  <% end %>

  <%= render "install_section", component_name: "card" %>
  <%= render "dependencies_section", component_name: "card" %>

  <%= section do %>
    <%= section_title "Advanced example" %>

    <div class="prose">
      <p>Here's a slightly more advanced example.</p>
    </div>

    <%= example_file "card_with_wide_image" %>
  <% end %>

  <%= section do %>
    <%= section_title "Usage" %>

    <%= render PropTable.new("nk_card(**attrs) { |card| ... }") do |t| %>
      <%= t.attrs_prop(:div) %>
    <% end %>

    <%= render PropTable.new("card.title(text = nil, **attrs) { ... }") do |t| %>
      <%= t.text_prop %>
      <%= t.attrs_prop(:h2) %>
    <% end %>

    <%= render PropTable.new("card.body(text = nil, **attrs) { ... }") do |t| %>
      <%= t.text_prop %>
      <%= t.attrs_prop(:div) %>
    <% end %>

    <%= render PropTable.new("card.footer(text = nil, **attrs) { ... }") do |t| %>
      <%= t.text_prop %>
      <%= t.attrs_prop(:div) %>
    <% end %>

    <%= render PropTable.new("card.divider(**attrs) { ... }") do |t| %>
      <%= t.attrs_prop(:hr) %>
    <% end %>

    <%= render PropTable.new("card.full_width(**attrs) { ... }") do |t| %>
      <%= t.attrs_prop(:div) %>
    <% end %>
  <% end %>
<% end %>
