<%= component_page do %>
  <%= title "Cards" %>

  <div class="space-y-4">
    <%= example do %>
      <div class="flex flex-wrap gap-2">
        <%= ik_card(class: "w-[320px]") do |c| %>
          <%= c.title { "Save your changes" } %>
          <%= c.body do %>
            <div>This will forever set it in stone.</div>
          <% end %>
          <%= c.footer(class: "justify-end") do %>
            <%= ik_button "Cancel" %>
            <%= ik_primary_button "Save", icon: "check" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%= code_example %{
                  <%= card do |c| %\>
                    <%= c.header "Save your changes" %\>
                    <%= c.body "This will forever set it in stone." %\>
                    <%= c.footer do %\>
                      <%= button "Cancel" %\>
                      <%= primary_button "Save", icon: "check" %\>
                    <% end %\>
                  <% end %\>
                } %>
  </div>
<% end %>
