<%= component_page do %>
  <%= title "Checkbox" %>

  <%= section do %>
    <h2>Simple checkbox</h2>
    <%= example do %>
      <%= nk_checkbox %>
      <%= nk_checkbox checked: true %>
    <% end %>

    <%= code_example(%{<%= nk_checkbox name: "title" %\>}) %>

    <h2>Checkbox with label</h2>

    <%= example do %>
      <%= nk_checkbox label: "Accept your fate" %>
    <% end %>

    <%= code_example %{<%= nk_checkbox label: "Accept your fate" %\>} %>

    <%= example do %>
      <%= nk_checkbox_group do |g| %>
        <%= g.title "Choose your poisons" %>
        <%= g.item value: :coke, label: "Coke", checked: true %>
        <%= g.item value: :zero, label: "Coke Zero" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
