<%= component_page do %>
  <%= title "Dialog" %>

  <%= section do %>
    <%= example do %>
      <%= nk_dialog do |d| %>
        <%= d.trigger do %>
          <%= nk_button "Open dialog" %>
        <% end %>
        <%= d.dialog do %>
          <%= d.title "New post" %>
          <%= d.description "Start off your new post with a tantilizing promises that your article can never live up to." %>

          <%= nk_form_for Post.new, url: "#" do |f| %>
            <div class="grid gap-6">
              <%= f.field_group do %>
                <%= f.field :title %>
              <% end %>

              <div class="flex justify-end space-x-2">
                <%= nk_ghost_button "Cancel", data: {action: "nk--dialog#close"} %>
                <%= f.submit %>
              </div>
            </div>
          <% end %>

          <%= d.close_button %>
        <% end %>
      <% end %>
    <% end %>

    <%= code_example do %>
      {#= nk_dialog do |d| #}
        {#= d.trigger do #}
          {#= nk_button "Open dialog" #}
        {# end #}
        {#= d.dialog do #}
          {#= d.title "New post" #}
          {#= d.description "Start off your new post ..." #}

          {#= nk_form_for ... do #}
            ...
          {# end #}

          {#= d.close_button #}
        {# end #}
      {# end #}
    <% end %>
  <% end %>
<% end %>
