<%= component_page do %>
  <%= title "Field" %>

  <%= lead do %>
    Use <code>Field</code> to render form fields with labels, descriptions, and errors.
  <% end %>

  <%= section do %>
    <%= section_title "Short-hand" %>

    <%= example do %>
      <%= nk_field :name, placeholder: "B Gates" %>
    <% end %>

    <%= code_example do %>
      <#= nk_field :name, placeholder: "B Gates" %>
    <% end %>
  <% end %>

  <%= section do %>
    <%= example do %>
      <%= nk_field :name do |f| %>
        <%= f.label "Or" %>
        <%= f.description "Build" %>
        <%= f.control placeholder: "Your" %>
        <%= f.errors ["Own"] %>
      <% end %>
    <% end %>

    <%= code_example do %>
      <#= nk_field :name do |f| #>
        <#= f.label "Or" #>
        <#= f.description "Build" #>
        <#= f.control placeholder: "Your" #>
        <#= f.errors ["Own"] #>
      <# end #>
    <% end %>
  <% end %>

  <%= section do %>
    <%= example do %>
      <div>
        <h2>With description and custom label</h2>
        <%= nk_field :name, label: "Custom label", description: "Some more details, y'know?" %>
      </div>
    <% end %>
  <% end %>
<% end %>
