<%= component_page do %>
  <%= title "Forms" %>

  <% @post = Post.new(title: nil).tap { |post| post.valid? } %>

  <%= example do %>
    <%= form_with model: @post, url: request.path, builder: NitroKit::FormBuilder, html: { class: "w-[320px]" } do |f| %>
      <%= f.fieldset do %>
        <%= f.field :title %>

        <%= tag.div(class: "flex gap-4 items-center") do %>
          <%= f.field :category_id, as: :select, options: Category.pluck(:name, :id) %>
        <% end %>

        <div>
          <%= f.field :body, as: :text, rows: 6 %>
        </div>

        <%= f.field :publish, as: :checkbox, description: "Should we tell the world?" %>

        <%= f.field :kind, as: :radio_group, options: Post.kinds, value: "article" %>

        <div>
          <%= f.submit %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <h2>Labels</h2>
  <%= example do %>
    <%= label :name, "Name" %>
  <% end %>

  <h2>Text fields</h2>
  <%= example do %>
    <%= text_field_tag :name, nil %>
  <% end %>
<% end %>
