<%= component_page do %>
  <%= title "Forms" %>

  <% @post = Post.new(title: nil).tap { |post| post.valid? } %>

  <%= example do %>
    <%= nk_form_with model: @post,
      url: request.path,
      html: { class: "w-[320px]" } do |f| %>
      <%= f.fieldset do %>
        <%= f.field :title %>

        <%= f.field :category_id,
          as: :select,
          options: Category.pluck(:name, :id) %>

        <%= f.field :body, as: :text, rows: 6 %>

        <%= f.field :publish, as: :checkbox, description: "Should we tell the world?" %>

        <%= f.field :kind,
          as: :radio_group,
          options: Post.kinds.map { |k| [k.capitalize, k] },
          value: "article" %>

        <div>
          <%= f.submit %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
