<%= component_page do %>
  <%= title "Getting started" %>
  <%= lead "Installing Nitro Kit into both new and old apps takes just a few steps" %>

  <%= section do %>
    <%= section_title "Add the gem" %>

    <%= code_example(language: :shell) do %>
      bundle add nitro_kit --git https://github.com/mikker/nitro_kit
      bundle install
    <% end %>
  <% end %>

  <%= section do %>
    <%= section_title "Tailwind CSS" %>

    <p>Tailwind CSS is required for Nitro Kit and version 4 is recommended.</p>

    <p>There are multiple, equally good, methods to get Tailwind into your project but the simplest one is likely using <code>tailwindcss-rails</code>:</p>

    <%= code_example(language: :shell) do %>
      bundle add tailwindcss-rails
      bundle add tailwindcss-ruby --pre # for Tailwind CSS v4 until released
      bundle install
    <% end %>

    <p>Open <code>app/assets/stylesheets/application.tailwind.css</code> and add or replace with this:</p>

    <%= code_example(language: :scss) do %>
      @import "tailwindcss";

      @theme {
        --color-foreground: var(--color-zinc-950);
        --color-background: var(--color-white);

        --color-border: var(--color-zinc-300);
        --color-ring: var(--color-blue-300);
        --color-muted: var(--color-zinc-100);
        --color-muted-foreground: var(--color-zinc-500);
        --color-primary: var(--color-zinc-900);
        --color-primary-foreground: var(--color-zinc-950);
        --color-destructive: var(--color-red-500);
        --color-destructive-foreground: var(--color-red-700);
      }

      @layer base {
        [data-theme="dark"] {
          --color-foreground: var(--color-zinc-100);
          --color-background: var(--color-zinc-950);

          --color-border: var(--color-zinc-700);
          --color-ring: var(--color-blue-700);
          --color-muted: var(--color-zinc-800);
          --color-muted-foreground: var(--color-zinc-400);
          --color-primary: var(--color-zinc-50);
          --color-primary-foreground: var(--color-white);
          --color-destructive: var(--color-red-500);
          --color-destructive-foreground: var(--color-red-700);
        }
      }

      @variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

      @layer base {
        * {
          @apply border-border min-w-0 ring-ring;
        }

        body {
          /* Nitro Kit looks great in Inter as well */
          /* https://rsms.me/inter */
          @apply bg-background text-foreground font-sans;
        }
      }
    <% end %>

    <p>Nitro Kit might just as well work with Tailwind 3.x but the setup will look more like <a class="link" href="https://ui.shadcn.com/docs/installation/manual">described here for shadcn/ui</a>.</p>
  <% end %>

  <%= section do %>
    <%= section_title "Stimulus" %>

    <p>Nitro Kit requires Stimulus if you add components that depend on JavaScript.</p>

    <p>It is expected that your app loads all Stimulus controllers from <code>app/javascript/controllers/</code> as per the default <a href="https://github.com/hotwired/stimulus-rails">stimulus-rails</a> installation.</p>
  <% end %>

  <%= section do %>
    <%= section_title "Add components to your app" %>

    <%= code_example(language: :bash) do %>
      bin/rails generate ignition_kit:add all # or a list of individual components
    <% end %>

    <p>That's it!</p>
  <% end %>
<% end %>
