<%= component_page do %>
  <%= component_header do %>
    <%= title "Icon" %>
    <%= lead "Says more than a thousand words" %>
    <%= render NuggetsComponent.new(%i[component]) %>
    <p>Uses <a href="https://lucide.dev" class="underline text-primary-foreground">Lucide icons</a>.</p>
  <% end %>

  <%= section do %>
    <%= section_title "Example" %>
    <%= example_file "icon_basic" %>

    <%= inline_example do %>
      {%= nk_icon "car" %}
    <% end %>
  <% end %>

  <%= render "install_section", component_name: "icon" %>
  <%= render "dependencies_section", component_name: "icon" %>

  <%= section do %>
    <%= section_title "Sizes" %>
    <%= example_file("icon_sizes") %>
  <% end %>

  <%= section do %>
    <%= section_title "SVG attributes" %>
    <div class="prose">
      <p>Icons are output as inline <code>&lt;svg&gt;</code> elements. This makes it easy to change its properties, like <code>stroke-width</code>.</p>
    </div>
    <%= example_file "icon_svg_attributes" %>
    <%= inline_example do %>
      {%= nk_icon "car",
        class: "size-64",
        stroke_width: 0.2,
        fill: "rgba(0, 255, 255, 0.2)" %}
    <% end %>
  <% end %>

  <%= section do %>
    <%= section_title "Usage" %>

    <%= render PropTable.new("nk_icon(**attrs) { |dropdown| ... }") do |t| %>
      <%= t.size_prop(%i[sm md lg]) %>
      <%= t.attrs_prop(:svg) %>
    <% end %>
  <% end %>
<% end %>
