<%= component_page do %>
  <header class="flex flex-col gap-0 justify-center items-center py-8">
    <div class="leading-tight text-center">
      <h1 class="text-6xl font-black tracking-tight md:text-8xl">Nitro Kit</h1>
      <h2 class="text-xl font-bold">for
        <span class="text-[#d20001]">Ruby on Rails</span></h2>
    </div>
    <%= image_tag "hotwheels-filled.webp", class: "w-full max-w-96 rounded-4xl -mt-6" %>
  </header>

  <%= section(class: "prose") do %>
    <p>
      <strong>Nitro Kit is a set of generic UI components</strong>
      to help you build your
      <strong>Ruby on Rails</strong>
      application.
    </p>

    <p>
      Rather than being fancy it is
      <strong>purposefully modest</strong>. Instead of giving you a
      <em>black box</em>, it is provided as a bunch of generators that give you a starting point
      to build upon.
    </p>

    <p>Easy to customize, accessible, Rails native.</p>

    <h2>Requirements</h2>

    <ol>
      <li>
        <%= link_to "Ruby on Rails", "https://rubyonrails.org" %>
        <%= nk_outline_badge "7.0+", size: :sm %>
      </li>
      <li>
        <%= link_to "Tailwind CSS", "https://tailwindcss.com" %>
        <%= nk_outline_badge "V4", size: :sm %>
      </li>
      <li>
        <%= link_to "Stimulus", "https://stimulus.hotwired.dev" %> <span class="text-muted-foreground">(optional &ndash; only for components with JavaScript)</span>
      </li>
    </ol>

    <h2>Principles</h2>

    <ol>
      <li>Feel Rails native</li>
      <li>Convention over configuration</li>
      <li>Don't be fancy just to be fancy</li>
      <li>Be easy to install, easy to use, easy to modify</li>
      <li>Use as few dependencies as possible</li>
      <li>...</li>
    </ol>
  <% end %>

  <div class="text-right">
    <%= nk_button "Get started", page_path(:getting_started), icon_right: "arrow-right" %>
  </div>
<% end %>
