<%= component_page do %>
  <%= component_header do %>
    <%= title "Label" %>
    <%= lead "What're you asking?" %>
    <%= render NuggetsComponent.new(%i[component]) %>
  <% end %>

  <%= section do %>
    <%= section_title "Example" %>
    <%= example_file "label_basic" %>

    <%= inline_example do %>
      {%= nk_label :greeting, :msg, "Hello" %}
    <% end %>

    <div class="prose">
      <p>API tries to match <a href="https://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-label"><code>ActionView::FormHelper#label</code></a>.</p>
    </div>
  <% end %>

  <%= render "install_section", component_name: "label" %>
  <%= render "dependencies_section", component_name: "label" %>

  <%= section do %>
    <%= section_title "Form use" %>

    <div class="prose">
      <p>To use in forms, it's easiest to use the <%= link_to "Form Builder", page_path(:form_builder) %>.</p>
    </div>

    <%= example_file "input_form" %>
    <%= inline_example do %>
      {%= nk_form_with model: @user do |f| %}
        {%= f.field :name %}
        {%= f.field :email, as: :email, label: "E-mail address" %}
      {% end %}
    <% end %>
  <% end %>

  <%= section do %>
    <%= section_title "Usage" %>

    <div class="prose">
      <p><strong>NB:</strong> Using through <code>FormBuilder#field</code> is recommended. See <%= link_to "Field docs", page_path(:field) %>.</p>
    </div>

    <%= render PropTable.new("
          nk_label(
            compat_object_name = nil,
            compat_method = nil,
            compat_content_or_options = nil,
            **attrs
          )") do |t| %>
      <%= t.prop "compat_object_name", "nil" do %>
        <%= nk_badge "API compatibility", size: :sm %> Relevant object
      <% end %>
      <%= t.prop "compat_method", "nil" do %>
        <%= nk_badge "API compatibility", size: :sm %> Object attribute
      <% end %>
      <%= t.prop "compat_options", "{}" do %>
        <%= nk_badge "API compatibility", size: :sm %> Options for checkbox
      <% end %>
      <%= t.attrs_prop(:label) %>
    <% end %>
  <% end %>
<% end %>
