<%= component_page do %>
  <%= title "Radio buttons" %>

  <%= section do %>
    <%= example do %>
      <div class="flex gap-2">
        <%= nk_radio_button name: "example" %>
        <%= nk_radio_button name: "example", checked: true %>
      </div>
    <% end %>

    <%= code_example(%{<%= nk_radio_button "name", "value" %\>}) %>

    <h2>Radio group</h2>

    <%= example do %>
      <%= nk_radio_group(name: "taste", value: "zero") do |g| %>
        <%= g.title "Choose your poison" %>
        <%= g.item value: "coke", label: "Coke" %>
        <%= g.item value: "zero", label: "Coke Zero" %>
      <% end %>
    <% end %>

    <%= code_example do %>
      {#= nk_radio_group :taste, value: :zero do |g| #}
        {#= g.title "Choose your poison" #}
        {#= g.item :coke, "Coke" #}
        {#= g.item :zero, "Coke Zero" #}
      {# end #}
    <% end %>
  <% end %>
<% end %>
