<%= component_page do %>
  <%= component_header do %>
    <%= title "Select" %>
    <%= lead "Sort of a button for picking a single value" %>
    <%= render NuggetsComponent.new(%i[component]) %>
  <% end %>

  <%= section do %>
    <%= section_title "Example" %>
    <%= example_file "select_basic" %>

    <%= inline_example do %>
      {%= nk_select "journey", "direction", %w[North East South West], value: "South" %}
    <% end %>

    <div class="prose">
      <p>API tries to match <a href="https://api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-select">Rails' own <code>select()</code> helper</a>.</p>
    </div>
  <% end %>

  <%= render "install_section", component_name: "select" %>
  <%= render "dependencies_section", component_name: "select" %>

  <%= section do %>
    <%= section_title "Form use" %>

    <div class="prose">
      <p>To use in forms, it's easiest to use the <%= link_to "Form Builder", page_path(:form_builder) %>.</p>
      <p><code>f.select</code> tries to match Rails' own API.</p>
      <p>For extra convenience use the <code>f.field</code> method.</p>
    </div>

    <%= example_file "select_form" %>
    <%= inline_example do %>
      {%= nk_form_for :race do |f| %}
        {%= f.field :driver,
                options: %w[David Tobi],
                value: "David",
                as: :select,
                label: "Driver",
                description: "Who's foot is on the pedal?" %}
      {% end %}
    <% end %>
  <% end %>

  <%= section do %>
    <%= section_title "Usage" %>

    <div class="prose">
      <p><strong>NB:</strong> While <code>select</code> supports Rails' API, using <code>f.field</code> is recommended.</p>
    </div>

    <%= render PropTable.new("
          nk_select(
            compat_object_name = nil,
            compat_method = nil,
            options = nil,
            compat_options = {},
            label: nil,
            include_blank: false,
            prompt: nil,
            index: nil,
            **attrs
          )") do |t| %>
      <%= t.prop "compat_object_name", "nil" do %>
        <%= nk_badge "API compatibility", size: :sm %> Relevant object
      <% end %>
      <%= t.prop "compat_method", "nil" do %>
        <%= nk_badge "API compatibility", size: :sm %> Object attribute
      <% end %>
      <%= t.prop "options", "nil" do %>
        List of <code>[label, value]</code> pairs
      <% end %>
      <%= t.prop "compat_options", "{}" do %>
        <%= nk_badge "API compatibility", size: :sm %> "Options" as a hash
      <% end %>
      <%= t.prop "include_blank", "false" do %>
        Whether to include a blank option
      <% end %>
      <%= t.prop "prompt", "nil" do %>
        Label for blank option
      <% end %>
    <% end %>
  <% end %>
<% end %>
