<%= component_page do %>
  <%= title "Switch" %>

  <div class="space-y-4">
    <h2>Default</h2>
    <%= example do %>
      <%= nk_switch %>
      <%= nk_switch checked: true %>
    <% end %>

    <%= code_example %{
                      <%= nk_switch :name %\>
                      <%= nk_switch :name, checked: true %\>
                    } %>

    <h2>Sizes</h2>
    <%= example do %>
      <%= nk_switch(size: :sm) %>
      <%= nk_switch(size: :sm, checked: true) %>
    <% end %>

    <%= code_example %{
                      <%= nk_switch(:name, size: :sm) %\>
                    } %>
  </div>
<% end %>
