<%= component_page do %>
  <%= component_header do %>
    <%= title "Toast" %>
    <%= lead "Does it smell burnt in here?" %>
    <%= render NuggetsComponent.new(%i[component js]) %>
  <% end %>

  <%= section do %>
    <%= section_title "Example" %>
    <%= example_file "toast_basic" %>

    <%= inline_example do %>
      <html data-controller="nk--toast">
        <body>
          <!-- ... -->
          {%= nk_button "Do the thing",
                data: { **nk_toast_action(title: "Hi", description: "There") } %}
          <!-- ... -->
          {%= nk_toast %}
        </body>
      </html>
    <% end %>
  <% end %>

  <%= render "install_section", component_name: "toast" %>
  <%= render "dependencies_section", component_name: "toast" %>

  <%= section do %>
    <%= section_title "Flash messages" %>

    <div class="prose">
      <p>The Toast component comes with a built-in mechanism to show your application's <code>flash</code> messages.</p>
      <p>Consider these Turbo enabled actions:</p>
    </div>

    <%= example_file "toast_flash" %>

    <%= inline_example do %>
      {%= nk_button_to "Eat hotdog", hotdog_path %}
      {%= nk_destructive_button_to "Throw away hotdog", flash_path, method: :delete %}
    <% end %>

    <div class="prose">
      <p>Your controller sets the message:</p>
    </div>

    <%= inline_example(language: :ruby) do %>
      class HotdogsController < ApplicationController
        def create
          respond_to do |format|
            format.turbo_stream { flash.now[:notice] = "Hope it was good!" }
          end
        end
      end
    <% end %>

    <div class="prose">
      <p>And your action notifies <code>NitroKit::Toast</code> to pick it up.</p>
      <p>In <code>create.turbo_stream.erb</code>:</p>
    </div>


    <%= inline_example do %>
      {%= nk_toast_turbo_stream_refresh %}
    <% end %>
  <% end %>

  <%= section do %>
    <%= section_title "Variants" %>

    <%= example_file "toast_variants" %>
    <p>
      <a href="/good_to_know#variants" class="link">Read more about variants</a>
    </p>
  <% end %>

  <%= section do %>
    <%= section_title "Usage" %>

    <div class="prose">
      <ol>
        <li>Add <code>data-controller="nk--toast"</code> to the <code>&lt;html&gt;</code> tag.</li>
        <li>Add <code>&lt;%= nk_toast %&gt;</code> to bottom of your <code>&lt;body&gt;</code> tag.</li>
      </ol>
    </div>

    <%= render PropTable.new("nk_toast(variant: :default, **attrs) { |toast| ... }") do |t| %>
      <%= t.variant_prop(NitroKit::Toast::Item::VARIANTS) %>
      <%= t.attrs_prop(:div) %>
    <% end %>

    <%= render PropTable.new("toast.item(title: nil, description: nil, **attrs)") do |t| %>
      <%= t.prop(:title, "nil") do %>
        Title of the item
      <% end %>
      <%= t.prop(:description, "nil") do %>
        Body text of the item
      <% end %>
      <%= t.attrs_prop(:li) %>
    <% end %>

    <%= render PropTable.new("nk_toast_action(title: nil, description: nil)") do |t| %>
      <%= t.text_prop(:title) %>
      <%= t.text_prop(:description) %>
      <%= t.prop "event", "nil" do %>
        JavaScript event that should trigger. Defaults to the <a href="https://stimulus.hotwired.dev/reference/actions#event-shorthand" class="link">default for the element</a>.
      <% end %>
      <%= t.tr do %>
        <%= t.td(colspan: 3) do %>
          <div class="flex items-center gap-2 text-muted-foreground">
            <%= nk_icon "lightbulb" %> Use to add toasts from Stimulus events
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= render PropTable.new("nk_toast_turbo_stream_refresh()") do |t| %>
      <%= t.tr do %>
        <%= t.td(colspan: 3) do %>
          <div class="flex items-center gap-2 text-muted-foreground">
            <%= nk_icon "lightbulb" %> Use in your TurboStream responses to flush and show flash messages
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
