<%= nk_accordion(class: "w-full max-w-md") do |a| %>
  <%= a.item do %>
    <%= a.trigger "Item 1" %>
    <%= a.content do %>
      <p>Content 1</p>
    <% end %>
  <% end %>
  <%= a.item do %>
    <%= a.trigger "Item 2" %>
    <%= a.content do %>
      <p>Content 2</p>
    <% end %>
  <% end %>
  <%= a.item do %>
    <%= a.trigger "Item 2" %>
    <%= a.content do %>
      <p>Content 3</p>
    <% end %>
  <% end %>
<% end %>
