<%= nk_card(class: "flex-none w-full max-w-[480px]") do |c| %>
  <%= c.full_width { image_tag "/og.png" } %>
  <%= c.title do %>
    <%= link_to "Top-Mounted Jet Engines", "", class: "hover:underline" %>
  <% end %>
  <%= c.body do %>
    Tired of being stuck in traffic? See what we have in stock. Best prices in the market.
  <% end %>
  <%= c.divider %>
  <%= c.footer(class: "") do %>
    <%= nk_badge "New!", class: "border border-yellow-500/60 dark:border-yellow-500/30 bg-yellow-400/20 text-yellow-700 dark:bg-yellow-400/10 dark:text-yellow-300 " %>
    <div class="flex items-center">
      <%= nk_ghost_button_to nil, class: "text-muted-foreground hover:text-foreground", icon: "sparkles", size: :sm %>
      <%= nk_ghost_button_to nil, class: "text-muted-foreground hover:text-foreground", icon: "citrus", size: :sm %>
    </div>
    <div class="flex-1"></div>
    <%= nk_button "Let's go", size: :sm, icon_right: "arrow-right", class: "sm:hidden" %>
    <%= nk_button "Let's go", icon_right: "arrow-right", class: "hidden sm:inline-flex" %>
  <% end %>
<% end %>
