<%= nk_form_for :session do |f| %>
  <%= f.fieldset do |fs| %>
    <%= fs.legend "Sign in" %>
    <%= fs.description "Let's see those credentials, buddy" %>

    <%= fs.group do %>
      <%= f.field :email, as: :email, label: "E-mail address" %>
      <%= f.field :password,
              as: :password,
              description: "Probably something like \"password\"" %>
      <%= f.field :remember_me, as: :checkbox, description: "At least for a little bit" %>

      <div class="flex gap-2 items-center">
        <%= f.submit "Sign in" %>
        <div class="text-sm text-muted-foreground">
          or
          <%= link_to "sign up", "", class: "link font-medium" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
