<%= nk_tabs(default: :general, class: "max-w-[480px]") do |t| %>
  <%= t.tabs do %>
    <%= t.tab(:general) { "General" } %>
    <%= t.tab(:billing) { "Billing" } %>
    <%= t.tab(:contact) { "Contact" } %>
  <% end %>
  <%= t.panel(:general) do %>
    <div>Hi I'm a general, at ease soldier</div>
  <% end %>
  <%= t.panel(:billing) do %>
    <div>Find that one receipts that your accountant asks for</div>
  <% end %>
  <%= t.panel(:contact) do %>
    <div>How we can contact you when we screw up</div>
  <% end %>
<% end %>
