<nav class="fixed top-0 right-0 left-0 z-10 bg-background">
  <div
    class="container flex justify-between items-center px-4 h-16 text-sm md:px-6 md:text-base"
  >
    <div class="flex items-center -ml-1 md:-ml-3 grow-0">
      <div class="md:hidden">
        <%= nk_ghost_button(
          icon: "menu",
          class: "[&_svg]:size-5",
          data: {
            action: "sidebar#open",
          },
          aria: {
            label: "Open navigation menu",
            expanded: false,
            controls: "navigation-menu",
            haspopup: "menu",
          },
        ) %>
      </div>

      <%= nk_ghost_button root_path, class: "font-bold px-2" do %>
        <%= image_tag "nitro_bottle.webp", class: "h-8 block" %>
        <div class="flex flex-col items-start leading-tight">
          <span>Nitro Kit</span>
          <span class="font-medium text-[8pt]">for
            <span class="text-[#d20001]">Ruby on Rails</span></span>
        </div>
      <% end %>
    </div>

    <div class="flex-1"></div>

    <% premium =
      "border-orange-300 bg-gradient-to-tr from-orange-200 via-yellow-100 to-orange-200 text-orange-800/80!" %>
    <%= nk_button "Get Premium",
    page_path(:premium),
    size: :xs,
    class: class_names(premium) %>

    <div class="hidden gap-1 items-center -mr-3 md:flex">
      <%#= nk_input type: "search" %>

      <div class="flex gap-2 items-center mx-4">
        <%= nk_icon("sun", size: :sm) %>
        <%= nk_switch nil,
        id: "theme-toggle",
        data: {
          action: "theme#toggle",
          "theme-target": "toggle",
          turbo_permanent: true,
        } %>
        <%= nk_icon("moon", size: :sm) %>
      </div>

      <%= nk_ghost_button("https://twitter.com/mikker", aria: { label: "Follow on Twitter" }) do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          shape-rendering="geometricPrecision"
          text-rendering="geometricPrecision"
          image-rendering="optimizeQuality"
          fill-rule="evenodd"
          clip-rule="evenodd"
          viewBox="0 0 512 462.799"
        ><path
            fill="currentColor"
            fill-rule="nonzero"
            d="M403.229 0h78.506L310.219 196.04 512 462.799H354.002L230.261 301.007 88.669 462.799h-78.56l183.455-209.683L0 0h161.999l111.856 147.88L403.229 0zm-27.556 415.805h43.505L138.363 44.527h-46.68l283.99 371.278z"
          /></svg>
      <% end %>
      <%= nk_ghost_button("https://bsky.app/profile/mikker.dev", aria: { label: "Follow on Bluesky" }) do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          shape-rendering="geometricPrecision"
          text-rendering="geometricPrecision"
          image-rendering="optimizeQuality"
          fill-rule="evenodd"
          clip-rule="evenodd"
          viewBox="0 0 512 452.263"
        ><path
            fill="currentColor"
            fill-rule="nonzero"
            d="M110.983 30.443C169.682 74.656 232.823 164.296 256 212.4v127.056c0-2.705-1.04.351-3.282 6.935-12.094 35.646-59.343 174.777-167.383 63.552-56.888-58.561-30.551-117.119 72.998-134.801-59.239 10.111-125.839-6.6-144.114-72.119C8.958 184.18 0 68.081 0 52.402 0-26.143 68.632-1.454 110.983 30.443zm290.034 0C342.318 74.656 279.177 164.296 256 212.4v127.056c0-2.705 1.04.351 3.282 6.935 12.094 35.646 59.343 174.777 167.383 63.552 56.888-58.561 30.551-117.119-72.998-134.801 59.239 10.111 125.839-6.6 144.114-72.119C503.042 184.18 512 68.081 512 52.402c0-78.545-68.624-53.856-110.983-21.959z"
          /></svg>
      <% end %>
      <%= nk_ghost_button(
        "https://github.com/mikker/nitro_kit",
        icon: "github",
        aria: {
          label: "View on GitHub",
        },
      ) %>
    </div>
  </div>
</nav>
<div class="h-16"></div>
