<!DOCTYPE html>
<html data-controller="theme nk--toast">
  <head>
    <title><%= yield(:title) || "Nitro Kit" %></title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= render "common/og_tags" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <style>
      :root {
        font-family: Inter, sans-serif;
        font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
      }
      @supports (font-variation-settings: normal) {
        :root { font-family: InterVariable, sans-serif; }
      }
    </style>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <style>
      <%= NitroKit::Theme.mode(:light).render(scope: '.highlight') %>
      <%= NitroKit::Theme.mode(:dark).render(scope: '[data-theme=dark] .highlight') %>
    </style>

    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="sidebar">
    <%= render "common/top_navigation" %>

    <main class="flex relative page-width">
      <div
        data-sidebar-target="backdrop"
        class="hidden fixed inset-0 z-40 opacity-0 transition-opacity duration-300 pointer-events-none bg-black/20 backdrop-blur-sm"
      ></div>
      <section
        class="overflow-y-auto fixed top-0 bottom-0 left-0 z-50 w-64 border-r shadow-lg transition-transform -translate-x-64 md:hidden min-h-svh bg-background"
        data-sidebar-target="navigation"
        role="navigation"
        aria-label="Main navigation"
        aria-hidden="true"
        aria-expanded="false"
      >
        <div class="p-3">
          <%= nk_ghost_button(
            icon: "x",
            data: {
              action: "sidebar#close",
            },
            aria: {
              label: "Close navigation menu",
            },
          ) %>
        </div>
        <%= render "common/sidebar_content" %>
      </section>

      <section
        class="hidden overflow-y-auto sticky top-16 w-64 md:block max-h-[calc(100dvh-theme(spacing.16))]"
      >
        <%= render "common/sidebar_content" %>
      </section>

      <section class="flex-1">
        <%= yield %>

        <div class="16"></div>

        <footer class="py-12 px-5 text-xs font-medium text-center text-muted-foreground">
          <p>
            Nitro Kit by <a href="https://mikkelmalmberg.com" class="link">mikker</a>
          </p>
        </footer>
      </section>

      <%= nk_toast %>
    </main>
  </body>
</html>
