<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ignition Kit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
      <% theme = Rouge::Themes::Github %>
      <%= theme.mode(:light).render(scope: '.highlight') %>
      <%= theme.mode(:dark).render(scope: '.dark .highlight') %>
    </style>

    <%= javascript_importmap_tags %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class="flex" data-controller="sidebar" data-turbo-permanent>
      <div data-sidebar-target="backdrop" class="fixed inset-0 bg-black/20 backdrop-blur-sm opacity-0 transition-opacity duration-300 md:hidden pointer-events-none"></div>
      <section 
        class="fixed overflow-y-auto top-0 bottom-0 left-0 p-5 w-64 border-r shadow-md transition-transform -translate-x-64 md:relative md:w-1/4 md:shadow-none md:translate-x-0 bg-background shrink" 
        data-sidebar-target="navigation"
        role="navigation"
        aria-label="Main navigation"
        aria-hidden="true"
        aria-expanded="false"
      >
        <div class="">
          <%= ik_ghost_button(
            icon: "x",
            data: { action: "sidebar#close" },
            aria: { label: "Close navigation menu" }
          ) %>
        </div>
        <nav>
          <ul class="" role="menu">
            <% %w[
              badge
              button
              card
              checkbox
              dropdown
              form
              icon
              radio
              toggle
            ].each do |component| %>
              <% is_current_page = current_page?(component_path(component)) %>
              <li role="none">
                <%= link_to component.titlecase, 
                    component_path(component),
                    role: "menuitem",
                    aria: { current: is_current_page ? "page" : nil },
                    class: class_names(
                      "block p-2 font-semibold hover:text-primary rounded-md hover:text-foreground",
                      is_current_page ? "text-foreground" : "text-muted-foreground/80"
                    ),
                    data: { action: "sidebar#close" }
                %>
              </li>
            <% end %>
          </ul>
        </nav>
      </section>
      <section class="flex-1">
        <div class="p-4 md:hidden">
          <%= ik_button(
            icon: "menu",
            data: { action: "sidebar#open" },
            aria: { 
              label: "Open navigation menu",
              expanded: false,
              controls: "navigation-menu",
              haspopup: "menu"
            }
          ) %>
        </div>
        <%= yield %>
      </section>
    </main>
  </body>
</html>
