<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ignition Kit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class="flex">
      <section class="p-5 w-1/4 shrink">
        <ul
          class="
            list-inside space-y-2 list list-disc-1 [&_a]:text-primary-foreground
            [&_a]:underline
          "
        >
          <% %w[badge button card checkbox dropdown icon input toggle form].each do |component| %>
            <li><%= link_to component.titlecase, component_path(component) %></li>
          <% end %>
        </ul>
      </section>
      <section class="flex-1">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
