<!DOCTYPE html>
<html data-controller="theme">
  <head>
    <title><%= content_for(:title) || "Nitro Kit" %></title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
      <% theme = Rouge::Themes::Github %>
      <%= theme.mode(:light).render(scope: '.highlight') %>
      <%= theme.mode(:dark).render(scope: '.dark .highlight') %>
    </style>

    <%= javascript_importmap_tags %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body data-controller="sidebar">
    <%= render "common/top_navigation" %>

    <main class="container flex">
      <div
        data-sidebar-target="backdrop"
        class="hidden fixed inset-0 z-40 opacity-0 transition-opacity duration-300 pointer-events-none bg-black/20 backdrop-blur-sm"
      ></div>
      <section
        class="overflow-y-auto fixed top-0 bottom-0 left-0 z-50 w-64 border-r shadow-md transition-transform -translate-x-64 md:hidden min-h-svh bg-background"
        data-sidebar-target="navigation"
        role="navigation"
        aria-label="Main navigation"
        aria-hidden="true"
        aria-expanded="false"
      >
        <div class="md:hidden">
          <%= ik_ghost_button(
            icon: "x",
            data: {
              action: "sidebar#close",
            },
            aria: {
              label: "Close navigation menu",
            },
          ) %>
        </div>
        <%= render "common/sidebar_content" %>
      </section>

      <section class="hidden w-64 md:block">
        <%= render "common/sidebar_content" %>
      </section>

      <section class="flex-1">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
